.carousel-caption {
    top: 30%;
    bottom: 30%;
}

.carousel-item img {
    height: 600px;
}

.image-cover {
    filter: brightness(50%);
}

.start-text {
    font-size: 60px;
    font-weight: 700;
}

.button-bg {
    background-color: white;
}

footer {
    background-color: black;
}

.list-items {
    list-style: none;
}

@media (max-width:576px) {
    .carousel-caption {
        top: 10%;
    }



}

@media (min-width:768px) and (max-width:992px) {
    .carousel-caption {
        top: 10%;
    }



}