/*-----------
Google fonts
------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.carousel-caption {
    top: 30%;
    bottom: 30%;
}

.carousel-item img {
    height: 600px;
}

.image-cover {
    filter: brightness(50%);
}

.start-text {
    font-size: 60px;
    font-weight: 700;
}

.button-bg {
    background-color: white;
}

footer {
    background-color: black;
}

.list-items {
    list-style: none;
}